body {
    font-family: "Hiragino Mincho ProN", "Noto Serif JP", serif;
    line-height: 1.7;
}

h1 {
    font-size: 1.6em;
    margin-top: 2em;
    margin-bottom: 1em;
    page-break-before: always;
}

h2 {
    font-size: 1.3em;
    margin-top: 1.8em;
}

h3 {
    font-size: 1.1em;
    margin-top: 1.5em;
}

p {
    margin: 0.8em 0;
}

blockquote {
    margin: 1em;
    padding-left: 1em;
    border-left: 3px solid #888;
}